@font-face {
    font-family: "flaticon";
    src: 
url("flaticon/Flaticon.ttf?fd4ab2d56ca4b634b5fef068659e69eb") format("truetype"),
url("flaticon/Flaticon.woff?fd4ab2d56ca4b634b5fef068659e69eb") format("woff"),
url("flaticon/Flaticon.woff2?fd4ab2d56ca4b634b5fef068659e69eb") format("woff2"),
url("flaticon/Flaticon.eot?fd4ab2d56ca4b634b5fef068659e69eb#iefix") format("embedded-opentype"),
url("flaticon/Flaticon.svg?fd4ab2d56ca4b634b5fef068659e69eb#flaticon_social_media") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-twitter:before {
    content: "\f101";
}
.flaticon-youtube:before {
    content: "\f102";
}
.flaticon-github:before {
    content: "\f103";
}
.flaticon-podcast:before {
    content: "\f104";
}
.flaticon-rss:before {
    content: "\f105";
}
.flaticon-newsletter:before {
    content: "\f106";
}
.flaticon-calendar:before {
    content: "\f107";
}
.flaticon-announcement:before {
    content: "\f108";
}
.flaticon-share:before {
    content: "\f109";
}
.flaticon-linkedin:before {
    content: "\f10a";
}
.flaticon-buffer:before {
    content: "\f10b";
}
.flaticon-mastodon:before {
    content: "\f10c";
}
.flaticon-clipboard:before {
    content: "\f10d";
}
