openapi: 3.1.0
info:
  title: Mailchimp Marketing API
  contact:
    name: Mailchimp API Support
    email: apihelp@mailchimp.com
  version: 3.0.55
  x-permalink: https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/marketing.json
externalDocs:
  description: Learn more with the full Mailchimp API documentation.
  url: https://mailchimp.com/developer/marketing/
servers:
- url: https://server.api.mailchimp.com/3.0
paths:
  /campaigns:
    get:
      tags:
      - campaigns
      summary: List campaigns
      description: Get all campaigns in an account.
      operationId: getCampaigns
      parameters:
      - name: fields
        in: query
        explode: false
        schema:
          type: array
          items:
            type: string
          minItems: 0
          uniqueItems: false
          x-title: Fields
        description: A comma-separated list of fields to return. Reference parameters
          of sub-objects with dot notation.
        x-title: Fields
      - name: exclude_fields
        in: query
        explode: false
        schema:
          type: array
          items:
            type: string
          minItems: 0
          uniqueItems: false
          x-title: Exclude Fields
        description: A comma-separated list of fields to exclude. Reference parameters
          of sub-objects with dot notation.
        x-title: Exclude Fields
      - name: count
        in: query
        schema:
          type: integer
          default: 10
          maximum: 1000
          x-title: Count
        description: The number of records to return. Default value is 10. Maximum
          value is 1000
        x-title: Count
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          x-title: Offset
        description: Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination),
          this it the number of records from a collection to skip. Default value is
          0.
        x-title: Offset
      - name: type
        in: query
        schema:
          type: string
          enum:
          - regular
          - plaintext
          - absplit
          - rss
          - variate
          x-title: Campaign Type
        description: The campaign type.
        x-title: Campaign Type
      - name: status
        in: query
        schema:
          type: string
          enum:
          - save
          - paused
          - schedule
          - sending
          - sent
          x-title: Status
        description: The status of the campaign.
        x-title: Status
      - name: before_send_time
        in: query
        schema:
          type: string
          format: date-time
          x-title: Before Send Time
        description: 'Restrict the response to campaigns sent before the set time.
          Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.'
        x-title: Before Send Time
      - name: since_send_time
        in: query
        schema:
          type: string
          format: date-time
          x-title: Since Send Time
        description: 'Restrict the response to campaigns sent after the set time.
          Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.'
        x-title: Since Send Time
      - name: before_create_time
        in: query
        schema:
          type: string
          format: date-time
          x-title: Before Create Time
        description: 'Restrict the response to campaigns created before the set time.
          Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.'
        x-title: Before Create Time
      - name: since_create_time
        in: query
        schema:
          type: string
          format: date-time
          x-title: Since Create Time
        description: 'Restrict the response to campaigns created after the set time.
          Uses ISO 8601 time format: 2015-10-21T15:41:36+00:00.'
        x-title: Since Create Time
      - name: list_id
        in: query
        schema:
          type: string
          x-title: List ID
        description: The unique id for the list.
        x-title: List ID
      - name: folder_id
        in: query
        schema:
          type: string
          x-title: Folder ID
        description: The unique folder id.
        x-title: Folder ID
      - name: member_id
        in: query
        schema:
          type: string
          x-title: Member ID
        description: "Retrieve campaigns sent to a particular list member. Member
          ID is The MD5 hash of the lowercase version of the list member\u2019s email
          address."
        x-title: Member ID
      - name: sort_field
        in: query
        schema:
          type: string
          enum:
          - create_time
          - send_time
          x-title: Sort By Field
        description: Returns files sorted by the specified field.
        x-title: Sort By Field
      - name: sort_dir
        in: query
        schema:
          type: string
          enum:
          - ASC
          - DESC
          x-title: Sort Direction
        description: Determines the order direction for sorted results.
        x-title: Sort Direction
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                description: An array of campaigns.
                properties:
                  campaigns:
                    type: array
                    title: Campaigns
                    description: An array of campaigns.
                    items:
                      type: object
                      title: Campaign
                      description: A summary of an individual campaign's settings
                        and content.
                      properties:
                        id:
                          type: string
                          title: Campaign ID
                          description: A string that uniquely identifies this campaign.
                          readOnly: true
                        web_id:
                          type: integer
                          title: Campaign Web ID
                          description: The ID used in the Mailchimp web application.
                            View this campaign in your Mailchimp account at `https://{dc}.admin.mailchimp.com/campaigns/show/?id={web_id}`.
                          readOnly: true
                        parent_campaign_id:
                          type: string
                          title: Parent Campaign ID
                          description: If this campaign is the child of another campaign,
                            this identifies the parent campaign. For Example, for
                            RSS or Automation children.
                          readOnly: true
                        type:
                          type: string
                          enum:
                          - regular
                          - plaintext
                          - absplit
                          - rss
                          - variate
                          title: Campaign Type
                          description: There are four types of [campaigns](https://mailchimp.com/help/getting-started-with-campaigns/)
                            you can create in Mailchimp. A/B Split campaigns have
                            been deprecated and variate campaigns should be used instead.
                        create_time:
                          type: string
                          format: date-time
                          title: Create Time
                          description: The date and time the campaign was created
                            in ISO 8601 format.
                          readOnly: true
                        archive_url:
                          type: string
                          title: Archive URL
                          description: The link to the campaign's archive version
                            in ISO 8601 format.
                          readOnly: true
                        long_archive_url:
                          type: string
                          title: Long Archive URL
                          description: The original link to the campaign's archive
                            version.
                          readOnly: true
                        status:
                          type: string
                          enum:
                          - save
                          - paused
                          - schedule
                          - sending
                          - sent
                          - canceled
                          - canceling
                          - archived
                          title: Campaign Status
                          description: The current status of the campaign.
                          readOnly: true
                        emails_sent:
                          type: integer
                          title: Emails Sent
                          description: The total number of emails sent for this campaign.
                          readOnly: true
                        send_time:
                          type: string
                          format: date-time
                          title: Send Time
                          description: The date and time a campaign was sent.
                          readOnly: true
                        content_type:
                          type: string
                          enum:
                          - template
                          - html
                          - url
                          - multichannel
                          title: Content Type
                          description: How the campaign's content is put together.
                        needs_block_refresh:
                          type: boolean
                          title: Needs Block Refresh
                          description: Determines if the campaign needs its blocks
                            refreshed by opening the web-based campaign editor. Deprecated
                            and will always return false.
                          readOnly: true
                        resendable:
                          type: boolean
                          title: Resendable
                          description: Determines if the campaign qualifies to be
                            resent to non-openers.
                          readOnly: true
                        recipients:
                          type: object
                          title: List
                          description: List settings for the campaign.
                          properties:
                            list_id:
                              type: string
                              title: List ID
                              description: The unique list id.
                            list_is_active:
                              type: boolean
                              title: List Status
                              description: The status of the list used, namely if
                                it's deleted or disabled.
                              readOnly: true
                            list_name:
                              type: string
                              title: List Name
                              description: The name of the list.
                              readOnly: true
                            segment_text:
                              type: string
                              title: Segment Text
                              description: A description of the [segment](https://mailchimp.com/help/create-and-send-to-a-segment/)
                                used for the campaign. Formatted as a string marked
                                up with HTML.
                              readOnly: true
                            recipient_count:
                              type: integer
                              title: Recipient Count
                              description: Count of the recipients on the associated
                                list. Formatted as an integer.
                              readOnly: true
                            segment_opts:
                              type: object
                              title: Segment Options
                              description: An object representing all segmentation
                                options. This object should contain a `saved_segment_id`
                                to use an existing segment, or you can create a new
                                segment by including both `match` and `conditions`
                                options.
                              properties:
                                saved_segment_id:
                                  type: integer
                                  title: Saved Segment ID
                                  description: The id for an existing saved segment.
                                prebuilt_segment_id:
                                  type: string
                                  title: Prebuilt Segment Id
                                  description: The prebuilt segment id, if a prebuilt
                                    segment has been designated for this campaign.
                                  examples:
                                  - subscribers-female
                                match:
                                  type: string
                                  enum:
                                  - any
                                  - all
                                  title: Match Type
                                  description: Segment match type.
                                conditions:
                                  type: array
                                  title: Segment Type
                                  description: Segment match conditions. There are
                                    multiple possible types, see the [condition types
                                    documentation](https://mailchimp.com/developer/marketing/docs/alternative-schemas/#segment-condition-schemas).
                                  items:
                                    type: object
                                    minProperties: 0
                                    x-discriminator:
                                      type: string
                                      propertyName: condition_type
                                    x-oneOf:
                                    - description: Segment by interaction with a specific
                                        campaign.
                                      title: Aim Segment
                                      properties:
                                        field:
                                          example: aim
                                          enum:
                                          - aim
                                          description: Segment by interaction with
                                            a specific campaign.
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - Aim
                                          x-value: Aim
                                        op:
                                          example: open
                                          enum:
                                          - open
                                          - click
                                          - sent
                                          - noopen
                                          - noclick
                                          - nosent
                                          description: 'The status of the member with
                                            regard to their campaign interaction.
                                            One of the following: opened, clicked,
                                            was sent, didn''t open, didn''t click,
                                            or was not sent.'
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: any
                                          description: Either the web id value for
                                            a specific campaign or 'any' to account
                                            for subscribers who have/have not interacted
                                            with any campaigns.
                                          title: Segment Data
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      description: Segment by interaction with an
                                        Automation workflow.
                                      title: Automation Segment
                                      properties:
                                        field:
                                          example: automation
                                          description: Segment by interaction with
                                            an Automation workflow.
                                          enum:
                                          - automation
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - Automation
                                          x-value: Automation
                                        op:
                                          example: started
                                          description: 'The status of the member with
                                            regard to the automation workflow. One
                                            of the following: has started the workflow,
                                            has completed the workflow, has not started
                                            the workflow, or has not completed the
                                            workflow.'
                                          enum:
                                          - started
                                          - completed
                                          - not_started
                                          - not_completed
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: '2135217'
                                          description: The web id for the automation
                                            workflow to segment against.
                                          title: Segment Data
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      description: Segment by poll activity.
                                      title: Poll Activity Segment
                                      properties:
                                        field:
                                          example: poll
                                          description: Segment by poll activity.
                                          enum:
                                          - poll
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - CampaignPoll
                                          x-value: CampaignPoll
                                        op:
                                          example: member
                                          description: Members have/have not interacted
                                            with a specific poll in a Mailchimp email.
                                          enum:
                                          - member
                                          - notmember
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: 409
                                          description: The id for the poll.
                                          title: Segment Operator
                                          type: number
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      description: Segment by interaction with a campaign
                                        via Conversations.
                                      title: Conversation Segment
                                      properties:
                                        field:
                                          example: conversation
                                          description: Segment by interaction with
                                            a campaign via Conversations.
                                          enum:
                                          - conversation
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - Conversation
                                          x-value: Conversation
                                        op:
                                          example: member
                                          description: 'The status of a member''s
                                            interaction with a conversation. One of
                                            the following: has replied or has not
                                            replied.'
                                          enum:
                                          - member
                                          - notmember
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: any
                                          description: The web id value for a specific
                                            campaign or 'any' to account for subscribers
                                            who have/have not interacted with any
                                            campaigns.
                                          title: Segment Data
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      description: Segment by a specific date field.
                                      title: Date Segment
                                      properties:
                                        extra:
                                          example: '2015-01-30'
                                          description: When segmenting on 'date' or
                                            'campaign', the date for the segment formatted
                                            as YYYY-MM-DD or the web id for the campaign.
                                          title: Segment Extra Value
                                          type: string
                                        field:
                                          example: timestamp_opt
                                          description: 'The type of date field to
                                            segment on: The opt-in time for a signup,
                                            the date the subscriber was last updated,
                                            or the date of their last ecomm purchase.'
                                          enum:
                                          - timestamp_opt
                                          - info_changed
                                          - ecomm_date
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - Date
                                          x-value: Date
                                        op:
                                          example: greater
                                          description: 'When the event took place:  Before,
                                            after, is a specific date, is not a specific
                                            date, is blank, or is not blank.'
                                          enum:
                                          - greater
                                          - less
                                          - is
                                          - not
                                          - blank
                                          - blank_not
                                          - within
                                          - notwithin
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: date
                                          description: 'What type of data to segment
                                            on: a specific date, a specific campaign,
                                            or the last campaign sent.'
                                          title: Segment Data
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      description: Segment by use of a particular
                                        email client.
                                      title: Email Client Segment
                                      properties:
                                        field:
                                          example: email_client
                                          description: Segment by use of a particular
                                            email client.
                                          enum:
                                          - email_client
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - EmailClient
                                          x-value: EmailClient
                                        op:
                                          example: client_is
                                          description: The operation to determine
                                            whether we select clients that match the
                                            value, or clients that do not match the
                                            value.
                                          enum:
                                          - client_is
                                          - client_not
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: Gmail
                                          description: The name of the email client.
                                          title: Segment Data
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      description: Segment by language.
                                      title: Language Segment
                                      properties:
                                        field:
                                          example: language
                                          description: Segmenting based off of a subscriber's
                                            language.
                                          enum:
                                          - language
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - Language
                                          x-value: Language
                                        op:
                                          example: is
                                          description: Whether the member's language
                                            is or is not set to a specific language.
                                          enum:
                                          - is
                                          - not
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: en
                                          description: A two-letter language identifier.
                                          title: Segment Data
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      description: Segment by member rating.
                                      title: Member Rating Segment
                                      properties:
                                        field:
                                          example: rating
                                          description: Segment by member rating.
                                          enum:
                                          - rating
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - MemberRating
                                          x-value: MemberRating
                                        op:
                                          example: greater
                                          description: Members who have have a rating
                                            that is/not exactly a given number or
                                            members who have a rating greater/less
                                            than a given number.
                                          enum:
                                          - is
                                          - not
                                          - greater
                                          - less
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: 4
                                          description: The star rating number to segment
                                            against.
                                          title: Segment Operator
                                          type: number
                                      type: object
                                    - required:
                                      - field
                                      - condition_type
                                      - op
                                      description: Segment by signup source.
                                      title: Signup Source Segment
                                      properties:
                                        field:
                                          example: source
                                          enum:
                                          - source
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          enum:
                                          - SignupSource
                                          title: Type
                                          x-value: SignupSource
                                          type: string
                                        op:
                                          example: source_is
                                          description: Whether the member's signup
                                            source was/was not a particular value.
                                          enum:
                                          - source_is
                                          - source_not
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: List Import
                                          description: The signup source.
                                          title: Segment Data
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      description: Segment by interaction with a SurveyMonkey
                                        survey.
                                      title: Survey Monkey Segment
                                      properties:
                                        field:
                                          example: survey_monkey
                                          description: Segment by interaction with
                                            a SurveyMonkey survey.
                                          enum:
                                          - survey_monkey
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - SurveyMonkey
                                          x-value: SurveyMonkey
                                        op:
                                          example: started
                                          description: 'The status of the member with
                                            regard to the survey.One of the following:
                                            has started the survey, has completed
                                            the survey, has not started the survey,
                                            or has not completed the survey.'
                                          enum:
                                          - started
                                          - completed
                                          - not_started
                                          - not_completed
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: '32179586'
                                          description: The unique ID of the survey
                                            monkey survey.
                                          title: Survey ID
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      description: Segment by VIP status.
                                      title: VIP Segment
                                      properties:
                                        field:
                                          example: gmonkey
                                          description: Segment by VIP status.
                                          enum:
                                          - gmonkey
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - VIP
                                          x-value: VIP
                                        op:
                                          example: member
                                          description: Whether the member is or is
                                            not marked as VIP.
                                          enum:
                                          - member
                                          - notmember
                                          title: Segment Operator
                                          type: string
                                      type: object
                                    - description: Segment by an interest group merge
                                        field.
                                      title: Interests Segment
                                      properties:
                                        field:
                                          example: interests-123
                                          description: Segmenting based on interest
                                            group information. This should start with
                                            'interests-' followed by the grouping
                                            id. Ex. 'interests-123'.
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - Interests
                                          x-value: Interests
                                        op:
                                          example: interestcontains
                                          enum:
                                          - interestcontains
                                          - interestcontainsall
                                          - interestnotcontains
                                          description: Whether the member is a part
                                            of one, all, or none of the groups.
                                          title: Segment Operator
                                          type: string
                                        value:
                                          description: An array containing strings,
                                            each representing a group id.
                                          title: Segment Value
                                          items:
                                            type: string
                                            example:
                                            - '44401'
                                            - '44405'
                                            - '44409'
                                          type: array
                                      type: object
                                    - description: Segment by purchases in specific
                                        items or categories.
                                      title: Ecommerce Category Segment
                                      properties:
                                        field:
                                          example: ecomm_cat
                                          enum:
                                          - ecomm_cat
                                          - ecomm_prod
                                          description: Segment by purchases in specific
                                            items or categories.
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - EcommCategory
                                          x-value: EcommCategory
                                        op:
                                          example: is
                                          enum:
                                          - is
                                          - not
                                          - contains
                                          - notcontain
                                          - starts
                                          - ends
                                          description: A member who has purchased
                                            from a category/specific item that is/is
                                            not a specific name, where the category/item
                                            name contains/doesn't contain a specific
                                            phrase or string, or a category/item name
                                            that starts/ends with a string.
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: Product
                                          description: The ecommerce category/item
                                            information.
                                          title: Segment Data
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      description: Segment by average spent total,
                                        number of orders, total number of products
                                        purchased, or average number of products per
                                        order.
                                      title: Ecommerce Number Segment
                                      properties:
                                        field:
                                          example: ecomm_orders
                                          description: Segment by average spent total,
                                            number of orders, total number of products
                                            purchased, or average number of products
                                            per order.
                                          enum:
                                          - ecomm_spent_avg
                                          - ecomm_orders
                                          - ecomm_prod_all
                                          - ecomm_avg_ord
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - EcommNumber
                                          x-value: EcommNumber
                                        op:
                                          example: greater
                                          description: Members who have spent exactly,
                                            have not spent exactly, spent more, or
                                            spent less than the segment value.
                                          enum:
                                          - is
                                          - not
                                          - greater
                                          - less
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: 42
                                          description: Members who have spent exactly,
                                            have not spent exactly, spent more, or
                                            spent less than this amount.
                                          title: Segment Operator
                                          type: number
                                      type: object
                                    - description: Segment by whether someone has
                                        purchased anything.
                                      title: Ecommerce Purchased Segment
                                      properties:
                                        field:
                                          example: ecomm_purchased
                                          enum:
                                          - ecomm_purchased
                                          description: Segment by whether someone
                                            has purchased anything.
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - EcommPurchased
                                          x-value: EcommPurchased
                                        op:
                                          example: member
                                          enum:
                                          - member
                                          - notmember
                                          description: Members who have have ('member')
                                            or have not ('notmember') purchased.
                                          title: Segment Operator
                                          type: string
                                      type: object
                                    - description: Segment by amount spent on a single
                                        order or across all orders.
                                      title: Ecommerce Spent Segment
                                      properties:
                                        field:
                                          example: ecomm_spent_one
                                          enum:
                                          - ecomm_spent_one
                                          - ecomm_spent_all
                                          description: Segment by amount spent on
                                            a single order or across all orders.
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - EcommSpent
                                          x-value: EcommSpent
                                        op:
                                          example: greater
                                          enum:
                                          - greater
                                          - less
                                          description: Members who have spent 'more'
                                            or 'less' than then specified value.
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: 42
                                          description: The total amount a member spent.
                                          title: Segment Data
                                          type: integer
                                      type: object
                                    - description: Segment by purchases from a specific
                                        store.
                                      title: Ecommerce Purchased Store Segment
                                      properties:
                                        field:
                                          example: ecomm_store
                                          enum:
                                          - ecomm_store
                                          description: Segment by purchases from a
                                            specific store.
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - EcommStore
                                          x-value: EcommStore
                                        op:
                                          example: is
                                          enum:
                                          - is
                                          - not
                                          description: Members who have or have not
                                            purchased from a specific store.
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: '289'
                                          description: The store id to segment against.
                                          title: Segment Operator
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      description: Segment by Goal activity.
                                      title: Goal Activity Segment
                                      properties:
                                        field:
                                          example: goal
                                          description: Segment by Goal activity.
                                          enum:
                                          - goal
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - GoalActivity
                                          x-value: GoalActivity
                                        op:
                                          example: is
                                          description: Whether the website URL is/not
                                            exactly, contains/doesn't contain, starts
                                            with/ends with a string.
                                          enum:
                                          - is
                                          - goal_not
                                          - contains
                                          - goal_notcontain
                                          - starts
                                          - ends
                                          title: Segment Operator
                                          type: string
                                        value:
                                          type: string
                                          title: Segment Value
                                          description: The URL to check Goal activity
                                            against.
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      description: Segment by most recent interaction
                                        with a website.
                                      title: Goal Timestamp Segment
                                      properties:
                                        field:
                                          example: goal_last_visited
                                          description: Segment by most recent interaction
                                            with a website.
                                          enum:
                                          - goal_last_visited
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - GoalTimestamp
                                          x-value: GoalTimestamp
                                        op:
                                          example: greater
                                          description: Whether the website activity
                                            happened after, before, or at a given
                                            timestamp.
                                          enum:
                                          - greater
                                          - less
                                          - is
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: '2015-07-20 19:45:21'
                                          description: The date to check Goal activity
                                            against.
                                          title: Segment Value
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      description: Segment by similar subscribers.
                                      title: Similar Subscribers Segment Member Segment
                                      properties:
                                        field:
                                          example: fuzzy_segment
                                          description: Segment by similar subscribers.
                                          enum:
                                          - fuzzy_segment
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - FuzzySegment
                                          x-value: FuzzySegment
                                        op:
                                          example: fuzzy_is
                                          description: Members who are/are not apart
                                            of a 'similar subscribers' segment.
                                          enum:
                                          - fuzzy_is
                                          - fuzzy_not
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: 48433
                                          description: The id for the 'similar subscribers'
                                            segment.
                                          title: Segment Operator
                                          type: number
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      description: Segment by a given static segment.
                                      title: Static Segment Member Segment
                                      properties:
                                        field:
                                          example: static_segment
                                          description: Segment by a given static segment.
                                          enum:
                                          - static_segment
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - StaticSegment
                                          x-value: StaticSegment
                                        op:
                                          example: static_is
                                          description: Members who are/are not apart
                                            of a static segment.
                                          enum:
                                          - static_is
                                          - static_not
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: 48433
                                          description: The id for the static segment.
                                          title: Segment Operator
                                          type: number
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      description: Segment by a specific country or
                                        US state.
                                      title: Location-Based Segment
                                      properties:
                                        field:
                                          example: ipgeo
                                          description: Segmenting subscribers who
                                            are within a specific location.
                                          enum:
                                          - ipgeo
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - IPGeoCountryState
                                          x-value: IPGeoCountryState
                                        op:
                                          example: ipgeocountry
                                          description: Segment members who are within
                                            a specific country or US state.
                                          enum:
                                          - ipgeocountry
                                          - ipgeonotcountry
                                          - ipgeostate
                                          - ipgeonotstate
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: US
                                          description: The two-letter country code
                                            or US state abbreviation.
                                          title: Segment Data
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      - addr
                                      - lat
                                      - lng
                                      description: Segment by a specific geographic
                                        region.
                                      title: Geolocation Segment
                                      properties:
                                        addr:
                                          example: Atlanta, GA, USA
                                          description: The address of the target location.
                                          title: Segment Location Address
                                          type: string
                                        lng:
                                          example: -8.43879824e+1
                                          description: The longitude of the target
                                            location.
                                          title: Segment Location Longitude
                                          type: string
                                        op:
                                          example: ipgeoin
                                          description: Segment members who are within
                                            a specific geographic region.
                                          enum:
                                          - ipgeoin
                                          - ipgeonotin
                                          title: Segment Operator
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - IPGeoIn
                                          x-value: IPGeoIn
                                        value:
                                          example: 42
                                          description: The radius of the target location.
                                          title: Segment Data
                                          type: integer
                                        field:
                                          example: ipgeo
                                          description: Segmenting subscribers who
                                            are within a specific location.
                                          enum:
                                          - ipgeo
                                          title: Segment Field
                                          type: string
                                        lat:
                                          example: '33.7489954'
                                          description: The latitude of the target
                                            location.
                                          title: Segment Location Latitude
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      - extra
                                      description: Segment by a specific US ZIP code.
                                      title: US Zip Code Segment
                                      properties:
                                        extra:
                                          example: 30318
                                          description: The zip code to segment against.
                                          title: Extra Data
                                          type: integer
                                        field:
                                          example: ipgeo
                                          description: Segmenting subscribers who
                                            are within a specific location.
                                          enum:
                                          - ipgeo
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - IPGeoInZip
                                          x-value: IPGeoInZip
                                        op:
                                          example: ipgeoinzip
                                          description: Segment members who are within
                                            a specific US zip code.
                                          enum:
                                          - ipgeoinzip
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: 25
                                          description: The radius of the target location.
                                          title: Segment Data
                                          type: integer
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      description: Segment members whose location
                                        information is unknown.
                                      title: Unknown Location-Based Segment
                                      properties:
                                        field:
                                          example: ipgeo
                                          description: Segmenting subscribers who
                                            are within a specific location.
                                          enum:
                                          - ipgeo
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - IPGeoUnknown
                                          x-value: IPGeoUnknown
                                        op:
                                          example: ipgeounknown
                                          description: Segment members for which location
                                            information is unknown.
                                          enum:
                                          - ipgeounknown
                                          title: Segment Operator
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      description: Segment by a specific US ZIP code.
                                      title: Zip Code Location-Based Segment
                                      properties:
                                        field:
                                          example: ipgeo
                                          description: Segmenting subscribers who
                                            are within a specific location.
                                          enum:
                                          - ipgeo
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - IPGeoZip
                                          x-value: IPGeoZip
                                        op:
                                          example: ipgeonotzip
                                          description: Segment members who are/are
                                            not within a specific US zip code.
                                          enum:
                                          - ipgeoiszip
                                          - ipgeonotzip
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: 30318
                                          description: The 5-digit zip code.
                                          title: Segment Data
                                          type: integer
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      description: Segment by age ranges in Social
                                        Profiles data.
                                      title: Social Profiles Age Segment
                                      properties:
                                        field:
                                          example: social_age
                                          description: Segment by age ranges in Social
                                            Profiles data.
                                          enum:
                                          - social_age
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - SocialAge
                                          x-value: SocialAge
                                        op:
                                          example: is
                                          description: Members who are/not the exact
                                            criteria listed.
                                          enum:
                                          - is
                                          - not
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: 35-54
                                          description: The age range to segment.
                                          enum:
                                          - 18-24
                                          - 25-34
                                          - 35-54
                                          - 55+
                                          title: Segment Operator
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      description: Segment by listed gender in Social
                                        Profiles data.
                                      title: Social Profiles Gender Segment
                                      properties:
                                        field:
                                          example: social_gender
                                          description: Segment by listed gender in
                                            Social Profiles data.
                                          enum:
                                          - social_gender
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - SocialGender
                                          x-value: SocialGender
                                        op:
                                          example: is
                                          description: Members who are/not the exact
                                            criteria listed.
                                          enum:
                                          - is
                                          - not
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: female
                                          description: The Social Profiles gender
                                            to segment.
                                          enum:
                                          - male
                                          - female
                                          title: Segment Operator
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      description: Segment by influence rating in
                                        Social Profiles data.
                                      title: Social Profiles Influence Segment
                                      properties:
                                        field:
                                          example: social_influence
                                          description: Segment by influence rating
                                            in Social Profiles data.
                                          enum:
                                          - social_influence
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - SocialInfluence
                                          x-value: SocialInfluence
                                        op:
                                          example: greater
                                          description: Members who have a rating that
                                            is/not or greater/less than the rating
                                            provided.
                                          enum:
                                          - is
                                          - not
                                          - greater
                                          - less
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: 2
                                          description: The Social Profiles influence
                                            rating to segment.
                                          title: Segment Operator
                                          type: number
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      description: Segment by social network in Social
                                        Profiles data.
                                      title: Social Profiles Social Network Segment
                                      properties:
                                        field:
                                          example: social_network
                                          description: Segment by social network in
                                            Social Profiles data.
                                          enum:
                                          - social_network
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - SocialNetworkMember
                                          x-value: SocialNetworkMember
                                        op:
                                          example: member
                                          description: Members who are/not on a given
                                            social network.
                                          enum:
                                          - member
                                          - notmember
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: twitter
                                          description: The social network to segment
                                            against.
                                          enum:
                                          - twitter
                                          - facebook
                                          - linkedin
                                          - flickr
                                          - foursquare
                                          - lastfm
                                          - myspace
                                          - quora
                                          - vimeo
                                          - yelp
                                          - youtube
                                          title: Segment Operator
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      description: Segment by social network in Social
                                        Profiles data.
                                      title: Social Profiles Social Network Follow
                                        Segment
                                      properties:
                                        field:
                                          example: social_network
                                          description: Segment by social network in
                                            Social Profiles data.
                                          enum:
                                          - social_network
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - SocialNetworkFollow
                                          x-value: SocialNetworkFollow
                                        op:
                                          example: follow
                                          description: Members who are/not following
                                            a linked account on a given social network.
                                          enum:
                                          - follow
                                          - notfollow
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: twitter_follow
                                          description: The social network to segment
                                            against.
                                          enum:
                                          - twitter_follow
                                          title: Segment Operator
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      description: Segment by an address-type merge
                                        field.
                                      title: Address Merge Field Segment
                                      properties:
                                        field:
                                          example: MMERGE3
                                          description: An address-type merge field
                                            to segment.
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - AddressMerge
                                          x-value: AddressMerge
                                        op:
                                          example: contains
                                          description: Whether the member's address
                                            merge field contains/does not contain
                                            a value or is/is not blank.
                                          enum:
                                          - contains
                                          - notcontain
                                          - blank
                                          - blank_not
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: Atlanta
                                          description: The value to segment a text
                                            merge field with.
                                          title: Segment Value
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      - value
                                      - extra
                                      description: Segment by an address-type merge
                                        field within a given distance.
                                      title: Address/Zip Merge Field Segment
                                      properties:
                                        extra:
                                          example: '30318'
                                          description: The city or the zip being used
                                            to segment against.
                                          title: Segment Extra
                                          type: string
                                        field:
                                          example: MMERGE2
                                          description: An address or zip-type merge
                                            field to segment.
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - ZipMerge
                                          x-value: ZipMerge
                                        op:
                                          example: geoin
                                          description: Whether the member's address
                                            merge field is within a given distance
                                            from a city or zip.
                                          enum:
                                          - geoin
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: '25'
                                          description: The distance from the city/zip.
                                          title: Segment Value
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      description: Segment by a contact's birthday.
                                      title: Birthday Merge Field Segment
                                      properties:
                                        field:
                                          example: MMERGE4
                                          description: A date merge field to segment.
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - BirthdayMerge
                                          x-value: BirthdayMerge
                                        op:
                                          example: is
                                          description: Whether the member's birthday
                                            merge information is/is not a certain
                                            date or is/is not blank.
                                          enum:
                                          - is
                                          - not
                                          - blank
                                          - blank_not
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: 01/30
                                          description: A date to segment against (mm/dd).
                                          title: Segment Value
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      description: Segment by a given date merge field.
                                      title: Date Merge Field Segment
                                      properties:
                                        field:
                                          example: MMERGE5
                                          description: A date merge field to segment.
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - DateMerge
                                          x-value: DateMerge
                                        op:
                                          example: is
                                          description: Whether the member's merge
                                            information is/is not, is greater/less
                                            than a value or is/is not blank.
                                          enum:
                                          - is
                                          - not
                                          - less
                                          - blank
                                          - blank_not
                                          - greater
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: 01/30/2015
                                          description: A date to segment against.
                                          title: Segment Value
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      description: An individual segment condition
                                      title: Dropdown/Radio Merge Field Segment
                                      properties:
                                        field:
                                          example: MMERGE6
                                          description: A merge field to segment.
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - SelectMerge
                                          x-value: SelectMerge
                                        op:
                                          example: is
                                          description: Whether the member's merge
                                            information is/is not a value or is/is
                                            not blank.
                                          enum:
                                          - is
                                          - not
                                          - blank
                                          - blank_not
                                          - notcontain
                                          - contains
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: Second Choice
                                          description: The value to segment a text
                                            merge field with.
                                          title: Segment Value
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      description: Segment by a given text or number
                                        merge field.
                                      title: Text or Number Merge Field Segment
                                      properties:
                                        field:
                                          example: MMERGE7
                                          description: A text or number merge field
                                            to segment.
                                          title: Segment Field
                                          type: string
                                        condition_type:
                                          type: string
                                          enum:
                                          - TextMerge
                                          x-value: TextMerge
                                        op:
                                          example: contains
                                          description: Whether the member's merge
                                            information is/is not, contains/does not
                                            contain, starts/ends with, or is greater/less
                                            than a value
                                          enum:
                                          - is
                                          - not
                                          - contains
                                          - notcontain
                                          - starts
                                          - ends
                                          - greater
                                          - less
                                          - blank
                                          - blank_not
                                          title: Segment Operator
                                          type: string
                                        value:
                                          example: Freddie's Jokes
                                          description: The value to segment a text
                                            or number merge field with.
                                          title: Segment Value
                                          type: string
                                      type: object
                                    - required:
                                      - field
                                      - op
                                      description: Segment by email address.
                                      title: Email Segment
                                      properties:
                                        field:
                                          example: EMAIL
                                          description: Segmenting based off of a subscriber's
[...]
