openapi: "3.1.0"
info:
  title: YouTube Data API v3 (brightdigit.com importer subset)
  description: >-
    Focused subset of the YouTube Data API v3 covering only the operations and
    response fields the brightdigit.com podcast importer consumes:
    playlistItems.list and videos.list. The full spec lives at
    Packages/BrightDigit/SwiftTube/openapi.yaml; see
    docs/openapi-migration-approach.md for why this is trimmed.
  version: "v3"
servers:
  - url: https://youtube.googleapis.com
paths:
  /youtube/v3/playlistItems:
    get:
      operationId: listPlaylistItems
      summary: Retrieve playlist items for a playlist.
      parameters:
        - name: part
          in: query
          required: true
          description: Comma-separated list of playlistItem resource properties.
          schema:
            type: string
        - name: fields
          in: query
          description: Selector for which fields to include in the response.
          schema:
            type: string
        - name: key
          in: query
          description: API key.
          schema:
            type: string
        - name: playlistId
          in: query
          description: Return the playlist items within the given playlist.
          schema:
            type: string
        - name: maxResults
          in: query
          description: Maximum number of items to return (0-50).
          schema:
            type: integer
            minimum: 0
            maximum: 50
        - name: pageToken
          in: query
          description: Token identifying a specific page in the result set.
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaylistItemListResponse"
  /youtube/v3/videos:
    get:
      operationId: listVideos
      summary: Retrieve videos by id.
      parameters:
        - name: part
          in: query
          required: true
          description: Comma-separated list of video resource properties.
          schema:
            type: string
        - name: fields
          in: query
          description: Selector for which fields to include in the response.
          schema:
            type: string
        - name: key
          in: query
          description: API key.
          schema:
            type: string
        - name: id
          in: query
          description: Comma-separated list of video ids to retrieve.
          schema:
            type: string
        - name: pageToken
          in: query
          description: Token identifying a specific page in the result set.
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoListResponse"
components:
  schemas:
    PlaylistItemListResponse:
      type: object
      properties:
        nextPageToken:
          type: string
        items:
          type: array
          items:
            $ref: "#/components/schemas/PlaylistItem"
    PlaylistItem:
      type: object
      properties:
        snippet:
          $ref: "#/components/schemas/PlaylistItemSnippet"
    PlaylistItemSnippet:
      type: object
      properties:
        resourceId:
          $ref: "#/components/schemas/ResourceId"
    ResourceId:
      type: object
      properties:
        videoId:
          type: string
    VideoListResponse:
      type: object
      properties:
        nextPageToken:
          type: string
        items:
          type: array
          items:
            $ref: "#/components/schemas/Video"
    Video:
      type: object
      properties:
        id:
          type: string
        snippet:
          $ref: "#/components/schemas/VideoSnippet"
        contentDetails:
          $ref: "#/components/schemas/VideoContentDetails"
    VideoSnippet:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        publishedAt:
          type: string
          description: >-
            RFC3339 publish timestamp. Modelled as a string (not date-time) so
            the importer keeps full control of date parsing rather than relying
            on the generator's Date decoding.
        thumbnails:
          $ref: "#/components/schemas/ThumbnailDetails"
    VideoContentDetails:
      type: object
      properties:
        duration:
          type: string
    ThumbnailDetails:
      type: object
      properties:
        standard:
          $ref: "#/components/schemas/Thumbnail"
    Thumbnail:
      type: object
      properties:
        url:
          type: string
